/* Step-2 You can assign padding to all sides of a container by using the padding property. */

.content-left {
 padding: 15px;
}

/* Step 2 You can assign padding to all sides of a container by using the padding property. */

.header {
  padding: 15px;
}


/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-image-container {
    height:150px;
    width:auto;
    margin-bottom: 15px;
    background: #96F0F2;
}

/* Step-2 One option to get the container to fill the parent container is to use width: auto; */

.profile-links-container {
    height:310px;
    width:auto;
    background: #12F3F7;
    
}
/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */


.logo-container {
    position:fixed;
    top:0;
    left:0;
    height:50px;
    width:265px;
    margin:15px;
    background: #4F4949;
}


/* Step-2 You can either use float left or position absolute to get this element to in the desired location. */

.menu-container {
    margin:20px;
    position:fixed;
    top:0;
    right:0;
    height:50px;
    width:5%;
    background: #4F4949;
}



